<div class="container">
  <h1>Results for <%= @survey.title %></h1>

  <% if @survey.image_file_name %>
  <img src="/images/<%= @survey.image_file_name %>" class="survey-image">
  <% end %>

  <% @questions.each do |question| %>
  <div class="graph-area">
    <h3 class="prompt"><%= question.prompt %></h3>
    <table>
      <% num_response_for_question = @all_responses_by_question.fetch(question.id, []).length %>
      <%question.possible_choices.each do |possible_choice|%>
        <tr style="background-color:#aeaeae;">
          <td style="width:100px; padding-top: 5px; padding-bottom: 5px">
            <%= possible_choice.text%>
          </td>
          <td style="width: 498px">

            <% num_responses_for_choice = @all_responses_by_choice.fetch(possible_choice.id, []).length %>
            <% width_factor = (num_responses_for_choice.to_f/num_response_for_question.to_f)* 100.0 %>

            <% width_factor = 0 if num_responses_for_choice == 0%>

            <div style="background-color: #6E8B3D; width: <%= width_factor %>%; height: 20px"class="bar">
               <%= num_responses_for_choice %>
            </div>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
  <% end %>
</div>

