<div class="container">
  <h1><%= @survey.title %></h1>
    <p><%= @survey.image_file_name.inspect %>
      <% if @survey.image_file_name %>
      <img src="<%= @survey.image_file_name %>">
      <% end %>
      
    <form action="/surveys/<%= @survey.id %>" method="post">

      <ul>
        <% @questions.each do |question| %>
        <li><%=question.prompt %></li>
        <ul>
          <% question.possible_choices.each do |choice| %>
          <input type="radio" name="choices[][<%= question.id %>]" value="<%= choice.id %>"><%= choice.text %><br>
          <% end %>
        </ul>
        <% end %>
      </ul>
      <input type="submit">
    </form>
  </div>
